:root {
    --cor-preta: #060D1A;
    --cor-preta-80: #000000CC;
    --cor-preta-70: #000000B3;
    --cor-preta-40: #00000066;
    --cor-preta-30: #0000004D;
    --cor-preta-20: #00000033;
    --cor-branca: #FFFFFF;
    --cor-branca-marca: #E8F4FF;
    --cor-branca-85: #FFFFFFD9;
    --cor-branca-80: #FFFFFFCC;
    --cor-branca-70: #FFFFFFB3;
    --cor-branca-22: #FFFFFF38;
    --cor-azul-escuro: #0066CC;
    --cor-azul-claro: #00B4FF;
    --borda-tags: #00B4FF80;
    --fundo-tags: #0066CC26;
    --fonte-titulo: "Bebas Neue", sans-serif;
    --fonte-corpo: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Início: Loading */

#inicio {
    background: var(--cor-preta);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    gap: 20px;
    overflow: hidden;

}

#img-logo {
    width: 420px;
    height: auto;
}

#img-loading {
    width: 180px;
    height: 180px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#titulo-loading {
    color: var(--cor-azul-escuro);
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
}

#titulo-loading span {
    color: var(--cor-branca-marca)
}

#barra-container {
    width: 280px;
    height: 3px;
    background: var(--cor-azul-escuro);
    border-radius: 2px;
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 5px;
}

#barra-fill {
    height: 100%;
    width: 0%;
    background: var(--cor-azul-claro);
    border-radius: 2px;
    transition: width 0.1s ease;
}

#porcentagem {
    color: var(--cor-azul-claro);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-family: var(--fonte-corpo);
    letter-spacing: 0.06em;
}

#barra-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto-loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

#tags-loading {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#tags {
    color: var(--cor-branca-marca);
    background-color: var(--fundo-tags);
    padding: 10px 18px;
    border-radius: 12px;
    border: 1px solid var(--borda-tags);
    font-family: var(--fonte-corpo);
    font-weight: 600;
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    #img-logo {
        width: 280px;
    }

    #img-loading {
        width: 130px;
        height: 130px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #titulo-loading {
        font-size: 1.8rem;
    }

    #barra-container {
        width: 220px;
    }

    #tags-loading {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    #img-logo {
        width: 320px;
    }

    #img-loading {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #titulo-loading {
        font-size: 2.2rem;
    }

    #barra-container {
        width: 180px;
    }

    #tags {
        font-size: 0.7rem;
        padding: 8px 14px;
    }
}

/* Fim: Loading */

/* Início: Menu */
header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: var(--cor-preta);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 40px;
    font-family: var(--fonte-corpo);
    font-weight: 500;
}

header.visivel {
    display: flex;
}

#img-menu {
    width: 150px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    font-size: 1.1rem;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: var(--cor-azul-claro);
}

header a {
    color: var(--cor-branca-marca);
    text-decoration: none;
}

#botao-menu {
    font-size: 1.1rem;
    transition: 0.3s ease;
    background: var(--cor-azul-escuro);
    padding: 15px 25px;
    border-radius: 12px;
}

#botao-menu:hover {
    background: var(--cor-azul-claro);
    color: var(--cor-preta);
}

#hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    z-index: 100;
}

#hamburguer span {
    display: block;
    width: 24px;
    height: 2px;
    background: var(--cor-branca-marca);
    border-radius: 2px;
    transition: all 0.3s ease;
}

#hamburguer.aberto span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

#hamburguer.aberto span:nth-child(2) {
    opacity: 0;
}

#hamburguer.aberto span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 768px) {
    #hamburguer {
        display: flex;
    }

    #botao-menu {
        display: none;
    }

    #link-menu {
        display: none;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        background: var(--cor-preta);
        padding: 2rem;
        border-top: 1px solid #222;
        z-index: 98;
    }

    #link-menu.aberto {
        display: block;
    }

    #link-menu ul {
        flex-direction: column;
        gap: 1.5rem;
    }

    #link-menu a {
        font-size: 1.2rem;
    }

}

/* Fim: Menu */

/* Início: Hero */

main {
    padding-top: 100px;
}

#hero {
    padding: 60px 80px;
    background: var(--cor-preta);
    overflow: hidden;
}

#hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

#hero-title-sub {
    margin-top: 20px;
    margin-bottom: 30px;
}

#hero-badge {
    display: inline-flex;
    align-items: center;
    background: var(--fundo-tags);
    border: 1px solid var(--borda-tags);
    color: var(--cor-branca-70);
    font-size: 0.8rem;
    padding: 12px 25px;
    border-radius: 20px;
    font-family: var(--fonte-corpo);
}

#hero-title {
    font-family: var(--fonte-titulo);
    color: var(--cor-branca-marca);
    font-size: 3rem;
    margin-bottom: 6px;
}

#hero-title span {
    color: var(--cor-azul-escuro);
}

#hero-sub {
    color: var(--cor-branca-80);
    font-family: var(--fonte-corpo);
    font-size: 1rem;
}

#hero-btns {
    display: flex;
    gap: 26px;
}

#hero-btns a {
    text-decoration: none;
}

#btn-produto {
    color: var(--cor-preta);
    background: var(--cor-azul-claro);
    padding: 15px 30px;
    border-radius: 12px;
    font-family: var(--fonte-corpo);
    font-weight: 600;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

#btn-produto:hover {
    background-color: var(--cor-azul-escuro);
}

#btn-historia {
    color: var(--cor-azul-escuro);
    background: none;
    border: solid 1px var(--cor-azul-escuro);
    padding: 15px 30px;
    border-radius: 12px;
    font-family: var(--fonte-corpo);
    font-weight: 600;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

#btn-historia:hover {
    color: var(--cor-azul-claro);
    background: none;
    border: solid 1px var(--cor-azul-claro);
}

#controle {
    width: 80%;
    height: auto;
}


@media (max-width: 768px) {
    #hero {
        padding: 40px 24px;
    }

    #hero-container {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    #hero-badge {
        justify-content: center;
        margin: 0 auto 16px;
    }

    #hero-title {
        font-size: 2.2rem;
    }

    #hero-btns {
        flex-direction: column;
        gap: 12px;
    }

    #btn-produto,
    #btn-historia {
        text-align: center;
        width: 100%;
    }

    #controle {
        width: 60%;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 480px) {
    #hero-title {
        font-size: 1.8rem;
    }

    #hero-sub {
        font-size: 0.9rem;
    }

    #btn-produto,
    #btn-historia {
        font-size: 0.95rem;
        padding: 12px 20px;
    }

    #controle {
        width: 80%;
    }
}

/* Fim: Hero */

/* Início: Explore por gênero */
#categorias {
    background: var(--cor-branca-marca);
    padding: 60px 80px;
}

#categorias-titulo {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    color: var(--cor-preta);
    margin-bottom: 2rem;
}

#categorias-titulo span {
    color: var(--cor-azul-escuro);
}

#categorias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.categoria-card {
    background: var(--cor-branca);
    border: 1px solid var(--cor-preta-20);
    border-radius: 12px;
    padding: 40px 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: var(--fonte-corpo);
    font-size: 1.1rem;
    color: var(--cor-preta);
    text-decoration: none;
    transition: border-color .2s, transform .2s, color .2s;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
}

.categoria-card:hover {
    border-color: var(--cor-azul-claro);
    transform: translateY(-4px);
    color: var(--cor-azul-escuro);
    box-shadow: 0px 8px 24px rgba(250, 63, 53, 0.15);
}

.categoria-icon {
    font-size: 2rem;
}

@media (max-width: 1024px) {
    #categorias {
        padding: 60px 40px;
    }

    #categorias-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    #categorias {
        padding: 40px 24px;
    }

    #categorias-grid {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    #categorias-titulo {
        font-size: 2rem;
    }

    .categoria-card {
        padding: 20px 1rem;
        flex-direction: row;
        justify-content: flex-start;
        gap: 16px;
    }

    .categoria-icon {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    #categorias {
        padding: 40px 30px;
    }

    #categorias-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    #categorias-titulo {
        font-size: 2.5rem;
    }

    .categoria-card {
        padding: 16px 1rem;
        font-size: 1rem;
    }

    .categoria-icon {
        font-size: 1.4rem;
    }
}

/* Fim: Explore por gênero */

/* Início: Destaques da semana */
#destaques {
    background: var(--cor-preta);
    padding: 60px 80px;
}


#destaques-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#destaques-titulo {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    color: var(--cor-branca-marca);
}

#btn-ver-todos {
    background: var(--cor-azul-claro);
    color: var(--cor-preta);
    font-family: var(--fonte-corpo);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s ease;
    border: solid 1px var(--cor-azul-claro);
}

#btn-ver-todos:hover {
    background: none;
    border: solid 1px var(--cor-azul-claro);
    color: var(--cor-azul-claro);

}

#destaques-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.produto-card {
    font-family: var(--fonte-corpo);
    background: var(--cor-branca);
    border-radius: 12px;
    overflow: hidden;
    transition: transform .2s;
    cursor: pointer;
}

.produto-card:hover {
    transform: translateY(-4px);
}

.produto-capa {
    width: 100%;
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
    background: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto-capa img {
    object-fit: contain;
    display: block;
}

.produto-badge {
    font-family: var(--fonte-corpo);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.72rem;
    font-weight: 500;
    padding: 6px 15px;
    border-radius: 12px;
    letter-spacing: .03em;
}

.badge-jogo {
    background: var(--cor-azul-claro);
    color: var(--cor-preta);
}

.badge-periferico {
    background: var(--cor-azul-escuro);
    color: var(--cor-branca);
}

.badge-hardware {
    background: var(--cor-preta);
    color: var(--cor-branca);
}

.produto-info {
    font-family: var(--fonte-corpo);
    padding: 1rem 1.1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.produto-nome {
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-preta);
}

.produto-empresa {
    font-family: var(--fonte-corpo);
    font-size: 0.85rem;
    color: var(--cor-preta-80);
    margin-bottom: 15px;
}

.produto-preco {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cor-azul-escuro);
}

.produto-preco-old {
    font-size: 0.82rem;
    color: var(--cor-azul-claro);
    text-decoration: line-through;
    display: inline;
}

.produto-preco-old span {
    text-decoration: none !important;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--cor-azul-escuro);
    margin-left: 6px;
    display: inline-block;
}

.produto-parcela {
    font-size: 0.8rem;
    color: var(--cor-preta-70);
}

@media (max-width: 1024px) {
    #destaques {
        padding: 60px 40px;
    }

    #destaques-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    #destaques {
        padding: 40px 24px;
    }

    #destaques-titulo {
        font-size: 2rem;
    }

    #destaques-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #btn-ver-todos {
        font-size: 0.9rem;
        padding: 10px 16px;
    }
}

@media (max-width: 480px) {
    #destaques {
        padding: 40px 30px;
    }

    #destaques-titulo {
        font-size: 1.8rem;
    }

    #destaques-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    #btn-ver-todos {
        font-size: 0.8rem;
        padding: 8px 10px;
    }
}

/* Fim: Destaques da semana */

/* Início: CTA */
#cta {
    text-align: center;
    background: var(--cor-branca-marca);
    padding: 60px 80px;
}

#cta-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.cta-card {
    border-radius: 16px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--cor-preta);
}

.cta-titulo {
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--cor-branca-marca);
    margin-bottom: 6px;
}

.cta-titulo span {
    color: var(--cor-azul-claro);
}

#cta-title-sub {
    flex: 1;
}

.cta-sub {
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    color: var(--cor-branca-80);

}

.cta-btn {
    display: block;
    align-items: center;
    text-align: center;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 24px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    margin-top: 0.5rem;
    width: 40%;
    margin: 0.5rem auto 0;
    border: 2px solid var(--cor-azul-claro);
    background: var(--cor-azul-claro);
    color: var(--cor-preta);
}

.cta-btn:hover {
    color: var(--cor-azul-claro);
    border: 2px solid var(--cor-azul-claro);
    background: none;
}

@media (max-width: 1024px) {
    #cta {
        padding: 60px 40px;
    }
}

@media (max-width: 768px) {
    #cta {
        padding: 40px 24px;
    }

    .cta-titulo {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    #cta {
        padding: 40px 16px;
    }

    #cta-container {
        gap: 1.6rem;
    }

    .cta-btn {
        width: 100%;
    }

    .cta-card {
        padding: 1.75rem;
    }

    .cta-titulo {
        font-size: 2rem;
    }
}

/* Fim: CTA */

/* Fim: Conteúdo */

/* Início: Footer */
#footer {
    background: var(--cor-preta);
    border-top: 2px solid var(--cor-azul-claro);
}

#footer-marca {
    justify-content: center !important;
}

#footer-container {
    padding: 3rem 80px;
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    gap: 2rem;
}

#footer-logo {
    width: 200px;
    margin-bottom: 1rem;
}

#footer-desc {
    font-family: var(--fonte-corpo);
    font-size: 0.85rem;
    color: var(--cor-branca-80);
}

.footer-titulo {
    font-family: var(--fonte-titulo);
    font-size: 1.3rem;
    color: var(--cor-branca);
    letter-spacing: .08em;
    margin-bottom: 1.25rem;
}

.footer-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.footer-lista a {
    font-family: var(--fonte-corpo);
    font-size: 0.9rem;
    color: var(--cor-branca-80);
    text-decoration: none;
    transition: color .2s;
}

.footer-lista a:hover {
    color: var(--cor-azul-claro);
}

.footer-contato li {
    font-family: var(--fonte-corpo);
    font-size: 0.9rem;
    color: var(--cor-branca-70);
}

#footer-social {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.social-btn {
    background: var(--cor-azul-claro);
    color: var(--cor-preta);
    font-family: var(--fonte-corpo);
    font-size: 0.88rem;
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease;
    border: 2px solid var(--cor-azul-claro);
}

.social-btn:hover {
    border: 2px solid var(--cor-azul-claro);
    background: none;
    color: var(--cor-azul-claro)
}

#footer-bottom {
    border-top: 1px solid var(--cor-branca-22);
    padding: 1.25rem 80px;
    text-align: center;
}

#footer-bottom p {
    font-family: var(--fonte-corpo);
    font-size: 0.82rem;
    color: var(--cor-branca-22);
}

@media (max-width: 1024px) {
    #footer-container {
        padding: 3rem 40px;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    #footer-bottom {
        padding: 1.25rem 40px;
    }
}

@media (max-width: 768px) {
    #footer-container {
        padding: 2.5rem 24px;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    #footer-bottom {
        padding: 1.25rem 24px;
    }
}

@media (max-width: 480px) {

    #footer-desc {
        text-align: center;
        font-size: 1rem;
    }

    #footer-titulo {
        font-size: 1.4rem;
    }

    .footer-lista a,
    .footer-contato li {
        font-size: 1.1rem;
    }

    .social-btn {
        font-size: 1rem;
        padding: 12px 24px;
    }

    #footer-container {
        padding: 2rem 30px;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    #footer-marca {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #footer-bottom {
        padding: 1rem 16px;
    }
}

/* Fim: Footer */